<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="HandheldFriendly" content="true" />
	<title>404</title>
	<meta name="robots" content="index,follow" />                                                                                                                                                                                                        
	<meta name="googlebot" content="index,follow,snippet,archive" />

	<link href="/public/css/style.css?ver=1.0.0" rel="stylesheet" type="text/css" />
	<style>.gs_reveal{opacity:0;visibility:hidden;will-change:transform,opacity}</style>
	<noscript><style>.gs_reveal{opacity:1;visibility:visible}</style></noscript>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<PAGE_HEADER Objref="Objref" />

	<div class="content-wrapper" id="content">
		<section id="err404" class="section error-message">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-8 md:col-12">
						<h1 class="error-message__title gs_reveal gs_reveal_fromLeft">404</h1>
						<p class="error-message__text gs_reveal gs_reveal_fromLeft">@Objref.GetLocalizedText("Studio9-404NotFound")</p>
						<p class="error-message__text gs_reveal gs_reveal_fromLeft">@Objref.GetLocalizedText("Studio9-404WrongLink")</p>

						<p class="error-message__spacer"></p>

						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404GoToHomep"), "<a href=\"" + Objref.PluginParameters.tenantAccess.Tenant.GetWebBaseUrl() + "\">", "</a>"))</p>
						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404Services"), "<a href=\"" + @DynamicComponents.GetServicesUrl(Objref.PluginParameters.tenantAccess.Language, Objref.PluginParameters.tenantAccess.Tenant) + "\">", "</a>"))</p>
						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404Realizations"), "<a href=\"" + @DynamicComponents.GetRealizationsUrl(Objref.PluginParameters.tenantAccess.Language, Objref.PluginParameters.tenantAccess.Tenant) + "\">", "</a>"))</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<PAGE_FOOTER Objref="Objref" />

	<script src="/public/js/libs/jquery.min.js?ver=3.5.1" type="text/javascript"></script>
	<script src="/public/js/scripts.js?ver=1.0.0" type="text/javascript"></script>
	<script src="/public/js/custom.js?ver=1.0.0" type="text/javascript"></script>
	<script src="/public/js/fanapp.js?ver=1.0.0" type="text/javascript"></script>
</body>

</html>



@code {
	[Parameter]
	public PageContent? Objref { get; set; }
}
