
<MAIN_LAYOUT>
	<PAGE_HEADER Objref="Objref" />

	<div class="content-wrapper" id="content">
		<section id="err404" class="section error-message">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-8 md:col-12">
						<h1 class="error-message__title gs_reveal gs_reveal_fromLeft">404</h1>
						<p class="error-message__text gs_reveal gs_reveal_fromLeft">@Objref.GetLocalizedText("Studio9-404NotFound")</p>
						<p class="error-message__text gs_reveal gs_reveal_fromLeft">@Objref.GetLocalizedText("Studio9-404WrongLink")</p>

						<p class="error-message__spacer"></p>

						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404GoToHomep"), "<a href=\"" + Objref.PluginParameters.TenantAccess.Tenant.GetWebBaseUrl() + "\">", "</a>"))</p>
						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404Services"), "<a href=\"" + @DynamicComponents.GetServicesUrl(Objref.PluginParameters.TenantAccess.Language, Objref.PluginParameters.TenantAccess.Tenant) + "\">", "</a>"))</p>
						<p class="error-message__text --light gs_reveal gs_reveal_fromLeft">@((MarkupString)string.Format(Objref.GetLocalizedText("Studio9-404Realizations"), "<a href=\"" + @DynamicComponents.GetRealizationsUrl(Objref.PluginParameters.TenantAccess.Language, Objref.PluginParameters.TenantAccess.Tenant) + "\">", "</a>"))</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<PAGE_FOOTER Objref="Objref" />
</MAIN_LAYOUT>


@code {
	[Parameter]
	public PageContent? Objref { get; set; }
}
