<section class="section img__cols" id="@("C" + Objref.Id)">
	<div class="container">
		<div class="row">
			@foreach (var item in Objref.GetGalleryRows(100))
			{
				<div class="col-4 sm:col-6 xs:col-12">
					@if (!string.IsNullOrEmpty(@item.Picture1))
					{
						<div class="img cover">
							<IMG_LAZY Picture="@item.Picture1" Preloader="/public/images/preloader.svg" ALT="@item.Title" />
							<div class="preloader"></div>
						</div>
					}
					@if (!string.IsNullOrEmpty(@item.Description))
					{
						<p class="img__perex">@item.Description</p>
					}
				</div>
			}
		</div>
	</div>
</section>


@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.Gallery? Objref { get; set; }
}
