<ul>
	@foreach (var item in Objref.GetFooterLinkItems(FooterLinkSelectType.ALL, false))
	{
		<li>
			@if (!string.IsNullOrEmpty(@item.Url))
			{
				<a href="@item.Url" target="@item.LinkTarget">
					@item.Prefix @item.Title @item.Suffix
				</a>
			} else
			{
				@item.Prefix @item.Title @item.Suffix
			}
		</li>
	}
</ul>


@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.FooterLink Objref { get; set; }
}
