<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="HandheldFriendly" content="true" />
	@if (!string.IsNullOrEmpty(Objref.PluginParameters.currentPage.SEOKeywords)) {<meta name="keywords" content="@Objref.PluginParameters.currentPage.SEOKeywords" />}
	@if (!string.IsNullOrEmpty(Objref.PluginParameters.currentPage.SEODescription)) {<meta name="description" content="@Objref.PluginParameters.currentPage.SEODescription" />}
	@if (Objref.PluginParameters.currentPage.TemplateNum != PageContent.ErrorTemplateNum) {<title>@Objref.PluginParameters.currentPage.SEOTitle</title>}
	else {<title>404</title>}
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
	<meta name="generator" content="Studio9 webManager, see https://webmanager.studio9.cz/" />                                                                                                           
	<meta name="robots" content="index,follow" />                                                                                                                                                                                                        
	<meta name="googlebot" content="index,follow,snippet,archive" />
</head>

<body>
    <h3>PAGE_CORE_0_0</h3>

    <PAGE_HEADER Objref="Objref" />

	@Objref.RenderHeaderPictureList(2)


	@Objref.RenderPageContent(0)
	<div style="bg-color: red;">
		<h3>Links 1</h3>
		@Objref.RenderFooterLinkList(0, 0, 0)
		<h3>Links 2</h3>
		@Objref.RenderFooterLinkList(0, 0, 1)
		<h3>Links 3</h3>
		@Objref.RenderFooterLinkList(0, 0, 2)
	</div>

	@Objref.GetLocalizedText("AllRightsReserved")<br/>
	@Objref.GetLocalizedText("AddToFavorites")
</body>

</html>



@code {
	[Parameter]
	public PageContent? Objref { get; set; }


	protected override void OnInitialized()
	{
		tree = new webManagerCMS.Core.PageContentNS.Plugins.PageTree(0, 0, Objref.PluginParameters);
	}
	public webManagerCMS.Core.PageContentNS.Plugins.PageTree tree { get; set; }
}
