@foreach (var item in @Objref.PluginParameters.pageTree.GetPagesForMenu())
{
	<li>
		<a href="@Objref.PluginParameters.pageTree.GetPageUrl(item)">
			@item.Name
		</a>
	</li>
}

@foreach (var item in @Objref.PluginParameters.pageTree.GetPagesForMenu("socialni-site"))
{
	<li>
		<a href="@Objref.PluginParameters.pageTree.GetPageUrl(item)">
			@item.Name
		</a>
	</li>
}

@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.PageTree? Objref { get; set; }
}
