<footer class="footer">
	<div class="footer__top">
		<div class="row">
			<div class="col-3 sm:col-7">
				@Objref.RenderFooterLinkList(0, 0, 0)
			</div>

			<div class="col-6 sm:col-9">
				<div class="footer__social social-media">
					@foreach (var item in @Objref.PluginParameters.pageTree.GetPagesForMenu("socialni-site"))
					{
						<div class="social-media__item">
							<a href="@Objref.PluginParameters.pageTree.GetPageUrl(item)" target="_blank">
								<div class="social-media__icon">
									<svg><use xlink:href="@DynamicComponents.GetSocialMediaIcon(@item.Name)"></use></svg>
								</div>
							</a>
						</div>
					}
				</div>
			</div>

			<div class="col-3 sm:col-3">
				<button class="back-to-top">
					<span class="icon icon--arrow-up"><svg><use xlink:href="/public/images/sprite.svg#arrow-up"></use></svg></span>
				</button>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="row">
			<div class="col-6 xs:col-12">
				<ul class="footer__copyright">
					<li>@DateTime.Now.Year.ToString() &#169; @Objref.GetLocalizedText("Studio9-Text")</li>
				</ul>
			</div>
			<div class="col-6 xs:col-12">
				<ul class="footer__copyright" style="text-align: right;">
					<li>
						<a href="@DynamicComponents.GetTermsConditionsURL(Objref.PluginParameters.tenantAccess.Language, Objref.PluginParameters.tenantAccess.Tenant)">@Objref.GetLocalizedText("Studio9-FooterTerms&Conditions")</a>
						/ <a href="@DynamicComponents.GetCookiePolicyURL(Objref.PluginParameters.tenantAccess.Language, Objref.PluginParameters.tenantAccess.Tenant)">@Objref.GetLocalizedText("Studio9-FooterCookiePolicy")</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


@code {
	[Parameter]
	public PageContent? Objref { get; set; }
}
