

<header class="header" id="header">
	<div class="container">
		<a class="header__logo" href="@Objref.PluginParameters.tenantAccess.Tenant.GetWebBaseUrl()">
			<span class="icon icon--logo"><svg><use xlink:href="/public/images/sprite.svg#logo"></use></svg></span>
		</a>
		<div class="header__actions">
			<nav class="header__nav-secondary">
				<ul>
					@Objref.RenderTree(0, 0)
					<li>
						@if (Objref.PluginParameters.tenantAccess.Language == webManagerCMS.Data.Models.SystemLanguageType.Czech)
						{
							<a href="/en/" class="lang-switch">english</a>
						}
						@if (Objref.PluginParameters.tenantAccess.Language == webManagerCMS.Data.Models.SystemLanguageType.English)
						{
							<a href="/" class="lang-switch">česky</a>
						}
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<header class="header-mobile" id="header-mobile">
	<div class="container">
		<div class="header-mobile__inner">
			<a class="header-mobile__logo" href="@Objref.PluginParameters.tenantAccess.Tenant.GetWebBaseUrl()">
				<span class="icon icon--logo"><svg><use xlink:href="/public/images/sprite.svg#logo"></use></svg></span>
			</a>
			<div class="header-mobile__actions"></div>
			<button class="header-mobile__expander" id="header-expander" aria-label="@Objref.GetLocalizedText("ToogleMenu")">
				<span class="hamburger">
					<span class="hamburger__inner"></span>
				</span>
			</button>
		</div>
	</div>
	<nav class="menu-mobile header-mobile__menu">
		<ul class="menu-mobile__secondary">
			@Objref.RenderTree(0, 0)
			<li>
				@if (Objref.PluginParameters.tenantAccess.Language == webManagerCMS.Data.Models.SystemLanguageType.Czech)
				{
					<a href="/en/" class="lang-switch">english</a>
				}
				@if (Objref.PluginParameters.tenantAccess.Language == webManagerCMS.Data.Models.SystemLanguageType.English)
				{
					<a href="/" class="lang-switch">česky</a>
				}
			</li>
		</ul>
	</nav>
</header>

@code {
	[Parameter]
	public PageContent Objref { get; set; }
}
