@if (Objref.ObjectCount > 0)
{
	<h1>PICHEADER_0_0</h1>

	<h2>@Objref.Title</h2>
	<h2>@Objref.Subtitle</h2>
	<h2>@Objref.Description</h2>
	<h2>@Objref.Picture</h2>
	<h2>@Objref.PictureFull</h2>
	<h2>@Objref.ObjectCount</h2>

	@foreach (var item in Objref.GetHeaderPictures(HeaderPictureSelectType.LVL, false, 3))
	{
		<div>
			@Objref.Title
			@Objref.Subtitle<br />
			@Objref.Description<br />
			@Objref.Picture<br />
			@Objref.PictureFull<br />
			@Objref.ObjectCount<br />
		</div>
	}
}

@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.HeaderPicture Objref { get; set; }

}
