<section class="section cards" id="@("C" + Objref.Id)">
	<div class="container">
		@if (!string.IsNullOrEmpty(Objref.Title))
		{
			<p class="section__title gs_reveal gs_reveal_fromLeft">@Objref.Title</p>
		}
		<div class="row">
			@foreach (var item in Objref.GetTreeDisplayDefinedRows(100))
			{
				<GALLERY_TILE Picture="@item.PictureFileAlias" Url="@item.Url" Title="@item.Title" Perex="@item.Perex" />
			}
		</div>
		<div class="section__button">
			<a href="@DynamicComponents.GetRealizationsUrl(Objref.PluginParameters.TenantAccess.Language, Objref.PluginParameters.TenantAccess.Tenant)" class="button button--outline gs_reveal gs_reveal_fromLeft">@Objref.GetLocalizedText("AllRealizations")</a>
		</div>
	</div>
</section>

@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.TreeDisplayDefined Objref { get; set; }
}
