@inject IDataStorageAccess Storage
@inject NavigationManager NavManager
@page "/"


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
</head>

<body>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    @dynamicComonent()
    <h1>Mutation alias from query: @mutationAlias</h1>
    <h1>Mutation alias from tenant: @Storage.TenantAccess.Tenant.WWWSettings.MutationAlias</h1>
    <h2>Whole URL: @url</h2>
    <h3>IdWWWRoot: @Storage.TenantAccess.IdWWWRoot</h3>

    @* Kontrola redirectu na resizer *@
    <img src="/r/files/14346/content/about-us/img_6828.jpg" alt="Testování redirect" />
</body>

</html>




@code {
    RenderFragment dynamicComonent() => builder =>
        {
            var component = @Storage.TenantAccess.Tenant.Components["Component1"];
            builder.OpenComponent(0, component);
            builder.CloseComponent();
        };

    string mutationAlias = "";
    string url = "";

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        url = uri.ToString();
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("rMutationAlias", out var _mutationAlias))
        {
            mutationAlias = _mutationAlias;
        }
    }
}